.task-leaderboard {
    flex: 1 0 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-color: #f5f6f8;
    box-sizing: border-box;
}

 .cell-leaderboard {
    flex: 1 0 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-color: #f5f6f8;
    box-sizing: border-box;
    text-align: center;
}


.center-item{
    display: flex;
    justify-content: center;
}


.green{
    background-color: #03c776;
    color: white;
}

.red{
    background-color: #e2435c;
    color: white;
}

.yellow{
    background-color: #fdaa3d;
    color: white;
}

.gray{
    background-color: #c4c4c4;
    color: white;
}
