.CFPCalculator {
  width: 100%;
  padding: 40px;
}

.Tag-list {
  display: flex;
  justify-content: center;
}

.Body-left {
  float: left;
  max-width:47.5%;
  width: 47.5%;
  border: 1px solid rgb(195, 198, 212);
  border-radius: 10px;
  padding: 20px;
  min-height: 500px;
}

.Body-right {
  float: left;
  max-width:47.5%;
  width: 47.5%;
  height: 500px;
  padding: 20px;
  margin-left: 5%;
  border: 1px solid rgb(195, 198, 212);
  border-radius: 10px;
}

.Graph {
  height: 310px;
}

h3 {
  text-align: center;
}

label {
  display: flex;
  justify-content: space-between;
}

.ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
}
