.Action-box {
    line-height: 22.5px;
    font-size: 19px;
    width: 280px;
    height: 220px;
    /*box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);*/
}

.Action-box:hover{
    line-height: 22.5px;
    font-size: 19px;
    width: 280px;
    height: 220px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.Action-text {
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 70px;
}

.Action-button {
    height: 35px;
}
