.Action-box {
    line-height: 23px;
    font-size: 19px;
    width: 31%;
    height: 220px;
    transition: all 0.1s linear;
}

.Action-box:hover{
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.Action-text {
    font-weight: lighter;
}

.Action-button {
    height: 35px;
    width: 100%
}
