.CFPCalculator {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}

.Navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

.stepbro {
  padding: 0px;
  background-color: red;
}

.body {
  display: flex;
  column-gap: 20px;
  padding: 20px;
}

h3 {
  text-align: center;
}

label {
  display: flex;
  justify-content: space-between;
}

.left {
  border: 1px solid rgb(195, 198, 212);
  width: 50%;
  padding: 20px;
}
