.News-card  {
  overflow: hidden;
  min-width: 230px;
  max-width: 310px;
  width: 100%;
  color: #141414;
  line-height: 1.4em;
  height: 390px;
}

.News-card > img {
  max-width: 100%;
  height: 185px;
  vertical-align: top;
}

.News-card  p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
  margin-top: 0px;
  
  padding: 4px;
  padding-top: 0px;
}
