body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*.App {*/
/*  !*height: 100vh;*!*/
/*  !*width: 100vw;*!*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/


* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}

.left-nav {

  border: 1px solid black;
  width: 20%;
  height: 100%
}

.right-nav {

  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
