h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
